<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <title> {% block title %} {% endblock %} of My Simple Flask Page</title>
</head>
<body>
         <div id="page-container">
            <div id="content-wrap">
                <div class="navigation-bar">
                <div id="navigation-container">
                <img src="{{ url_for('static', filename="images/sre.jpg") }}" width="100"> 
      <ul>
              <li> <a href="/profile">Profile</a></li>
              <li><a href="https://botiyava.ru">Contacts</a></li>
      </ul>
                </div>
        <hr>
        <div class="content">
        {% block content %} {% endblock %}
        </div>
                </div>
                <footer id="footer"><p class="footer-text">Copyright &copy; {{ owner }} version:{{ version }}</p><footer>
            </div>
</body>
</html>
        
                
