<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title> {% block title %} {% endblock %} of My Simple Flask Page</title>
<style>
nav a{
        color: #d64161;
        font-size: 2em;
        margin-left: 50px;
        text-decoration: none;
}
</style>
</head>
<body>
        <nav>
        <a href="#">FlaskApp</a>
        <a href="https://botiyava.ru">Contacts</a>
        </nav>
        <hr>
        <div class="content">
        {% block content %} {% endblock %}
        </div>
</body>
</html>
        
                
